<html>
    <head>
        <title>Logn</title>
    </head>
    <body>
        <fieldset style="width:300px;">
            <legend>Login Form</legend>        
            <form action="/auth/login"  method="post">
              Usrname :  <input type="text"  name="username"/> <br/><br/>
              Password : <input type="password" name="password"/> <br/><br/>
                <input type="submit" value="Login"/> <br/><br/>
            </form>
        </fieldset>
    </body>
</html>    
