<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <fieldset style="width:300px;">
            <legend>Registration Form</legend>        
            <form action="/auth/signup"  method="post">
             Username : <input type="text"  name="username"/> <br/><br/>
             Password : <input type="password" name="password"/> <br/><br/>
             Confirm Password : <input type="password" name="password1"/> <br/><br/>
                <input type="submit" value="Register Here"/>
            </form>
        </fieldset>
    </body>
</html>    
